.result {
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    background-color: white;
    position: relative;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center;
}

.background-image , .background-color {
    position: absolute;
    border-radius : 4px;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 111;
}

.content{
    position: relative;
    min-height: 100px;
    padding: 4px;
    z-index: 333;
}

.border-top , .border-bottom {
    position: relative;
    width: 100%;
    z-index: 444;
}

.border-bottom {
    transform: rotate(180deg);
}

img{
    max-width: 100%;
}