body {
  margin: 0%;
  height: 100vh;
  background:#aaa url(./background.png) center no-repeat  ;
  background-size: cover;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}